body{
    font-family: fangsong;
}
.heading{
    text-align: center;
    color: gray;
    font-family: fangsong;
}
.heading span {
    color: rgb(41, 146, 111);
    border-bottom: 2px solid;
}
.buttons{
    text-align: center;
    font-family: fangsong;
}
.btn{
    border: 2px solid rgb(41, 146, 111);
    color: rgb(41, 146, 111);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(41, 146, 111) ;
    color: white;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3%;
}
.recipe-box img{
    width: 280px;
    height: 160px;
    border-radius: 15px;
    border: 2px solid rgb(41, 146, 111);
}
.recipe{
    display: flex;
    flex-wrap: wrap;
}
.menuName{
    display: flex;
}
.recipe-title{
    margin: 13px;
}
.recipe-price{
    margin-left: 30%;
}
.price{
    font-weight: bolder;
    color: rgb(41, 146, 111);
}
.underline{
    border-bottom: 2px solid rgb(41, 146, 111);
    margin-left: 13px;
    width: 300px;
}
.recipe-desc{
    width: 300px;
    margin: 13px;
    color: gray;
}