main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 25px;
    color: rgb(0, 183, 255);
    text-align: center;
}
.card{
    border: 2px solid grey;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    padding: 25px;
   
}
#img{
    width: 143px;
    height: 121px;
    border-radius: 50%;
}
.randombtn{
margin-top: 10px;
}
